.full-app {
  text-align: center;
  background-color: #410069;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  
}

.heading {
  color: yellow;
  vertical-align: center;
  flex-grow: 1
}

.message {
  flex-grow: 1;
  font-size: 30px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: yellow
}

.timer {
  flex-grow: 1;
  font-size: 42px;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mapDiv {
  flex-grow: 50
}



.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
